.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.leftSide {
  min-width: 300px;
  width: 30%;
  height: 100vh;
  background:  url("../public/background.png");
}
.cardFront{
  width: 530px;
  height: 290px;
  top:160px;
  position: absolute; 
  left:10%;
  z-index: 10;
}
.cardBack{
  width: 530px;
  height: 290px;
  top:490px;
  position: absolute; 
  left:15%;
}
@media only screen and (max-width: 1200px) {
  .cardFront{
    width: 406px;
    height: 225px;
    top:230px;
    position: absolute; 
    left:5%;
    z-index: 10;
  }
  .cardBack{
    width: 406px;
    height: 225px;
    top:480px;
    position: absolute; 
    left:10%;
  }
}

@media only screen and (max-width: 800px) {
  .cardFront{
    width: 325px;
    height: 180px;
    top:150px;
    position: absolute; 
    left:70px;
    z-index: 10;
  }
  .cardBack{
    width: 325px;
    height: 180px;
    top:40px;
    position: absolute; 
    left: calc(100% - 395px);
  }
  .container {
    padding: none;
    display: flex;
    flex-direction: row;
  }
  
  .leftSide {
    width: auto;
    height: 280px;
    background: content-box url("../public/background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 500px) {
  .cardFront{
    width: 325px;
    height: 180px;
    top:150px;
    position: absolute; 
    left:15px;
    z-index: 10;
  }
  .cardBack{
    width: 325px;
    height: 180px;
    top:40px;
    position: absolute; 
    left: calc(100% - 345px);
  }
}